html, body {
  height: 100%;
  margin: 0; /* resets browser defaults, which they usually do to 8px */
}

.bg-video {
  position: fixed; /* sticks the bg allowing one to scroll down keeping the bg intact*/
  inset: 0; /* stretches to all edges*/
  width: 100%;
  height: 100%;
  object-fit: cover;   /* makes it fill without stretching maintaining its aspect ratio */
  z-index: -2; /* creates ordered layers, in this case we want the background to be further back than the rest of the content */
}

/* Dark overlay so your text stays readable due to the dark bg*/
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

body {
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
}

main {
  position: relative;
  z-index: 1;
}

#container {
    color: white;
} 

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

#calculate-button {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 14px 32px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    outline: none;
}

#calculator input, 
#calculator select {
    gap: 12px;
    flex-wrap: wrap;
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}